<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Sesion</filter-name>
        <filter-class>Servlets.Sesion</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Sesion</filter-name>
        <url-pattern>/mainMenu.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Servlets.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsuario</servlet-name>
        <servlet-class>Servlets.GetUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>Servlets.Log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Out</servlet-name>
        <servlet-class>Servlets.Out</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrito</servlet-name>
        <servlet-class>Servlets.Carrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsuario</servlet-name>
        <url-pattern>/GetUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Out</servlet-name>
        <url-pattern>/Out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrito</servlet-name>
        <url-pattern>/Carrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
